@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primaria: #03035f;
    --secundaria: #2A33C9;

}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-size: 1.2rem;
    
}

body {
    background-image: url('../img/XbRg9D7.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    display: flex;
}

.card {
    padding: 30px;
    border-radius: 4%;
    background-color: #ffffff80;
    box-shadow: 3px 3px 1px 0px #00000060;
    width: 400px;
}

.card > h1 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--primaria);
    font-size: 2rem;
}

.label-float input {
    width: 100%;
    padding: 8px;
    display: inline-block;
    border: 0;
    border-bottom: 3px solid var(--primaria);
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 18px;
    border-radius: 0;
    transition: all .3s ease-out;
}

.label-float {
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.label-float input:focus {
    border-bottom: 3px solid var(--secundaria);
}

.label-float label {
    color: var(--primaria);
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
}

.label-float input:focus + label,
.label-float input:valid + label {
    font-size: .9rem;
    margin-top: 0;
    color: var(--primaria);
}

.btn-login {
    width: 100%;
    background-color: var(--primaria);
    border-color: var(--primaria);
    color: white;
    padding: 7px;
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.btn-login:hover {
    background-color: var(--secundaria);
    border-color: var(--secundaria);
    color: white;
    transition: all .4s ease-out;
}

.justify-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

hr {
    margin-top: 10%;
    margin-bottom: 10%;
}

p {
    color: var(--primaria);
    font-weight: bold;
    text-decoration: none;
}

a {
    color: var(--secundaria);
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    color: white;
    transition: all .3s ease-out;
}

.bx-low-vision {
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    color: var(--primaria);
}

#msgError {
    text-align: center;
    color: #ff0000;
    background-color: #ffbbbb;
    padding: 10px;
    border-radius: 4px;
    display: none;
}

#msgSuccess{
    text-align: center;
    color: #00bb00;
    background-color: #bbffbe;
    padding: 10px;
    border-radius: 4px;
    display: none;
}